@model Orenda.Models.Estoques

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Cadastro de Estoque</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Estoque</h2>
                        </div>
                    </div>
                    <section class="ftco-section ftco-no-pb ftco-no-pt">
                        <div class="row">
                            <div class="col-md-12 order-md-last">
                                <div class="login-wrap p-4 p-md-5">
                                    <h3 class="mb-4">Insira os dados para cadastro</h3>
                                    <form action="#" class="signup-form">
                                        <div class="form-group">
                                            <input type="hidden" value="@Model.CodEst" id="CodEst" name="CodEst" />

                                            @*<label class="label" for="name">Nome Matéria Prima</label>
                                            <input type="text" class="form-control" placeholder="produto y">*@
                                            @Html.LabelFor(model => model.NomeMateriaPrima, "Matéria Prima", htmlAttributes: new { @class = "label" })
                                            <div class="label">
                                                @Html.EditorFor(model => model.NomeMateriaPrima,  new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome da Matéria Prima" } })
                                                @Html.ValidationMessageFor(model => model.NomeMateriaPrima, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                @*<label class="label" for="Registro">Quantidade</label>
                                                <input type="number" class="form-control" placeholder="unidade qtd/Kg">*@
                                                @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="label">
                                                    @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control", @type = "number", @placeholder = "Unidade Qtd/Kg" } })
                                                    @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 offset-md-2">
                                                @*<label class="label" for="Endereço">Validade</label>
                                                <input type="date" class="form-control">*@
                                                @Html.LabelFor(model => model.Validade, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="label">
                                                    @Html.EditorFor(model => model.Validade, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                                    @Html.ValidationMessageFor(model => model.Validade, "", new { @class = "text-danger" })
                                                </div>
                                           </div>
                                        </div><br>
                                        <p class="text-center">Todos os dados estão corretos?</p>
                                        <div class="form-group d-flex justify-content-end mt-4">
                                            <button type="button" onclick="CriarCadastroEstoque()" class="btn btn-primary"><span class="fa fa-paper-plane"></span></button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>             
            </div>
        </div>     
    </div>
</div>
