@model Orenda.Models.Clientes

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Editar Cliente</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Cliente</h2>
                        </div>
                    </div>
                    <section class="ftco-section ftco-no-pb ftco-no-pt">
                        <div class="row">
                            <div class="col-md-12 order-md-last">
                                <div class="login-wrap p-4 p-md-5">
                                    <h3 class="mb-4">Insira os dados para edição</h3>
                                    <form class="signup-form">
                                        <div class="form-group">
                                            <input type="hidden" value="@Model.CodCliente" id="CodCliente" name="CodCliente" />
                                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div>
                                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome do Cliente" } })
                                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                            </div>
                                          </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div>
                                                @Html.EditorFor(model => model.CpfString, new { htmlAttributes = new { @class = "form-control", @placeholder = "XXX.XXX.XXX-XX", @type = "text", @maxlength = "14", @id = "CPF", @onkeyup = "mascaraCPF()" } })
                                                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Endereco, "Endereço", htmlAttributes: new { @class = "label" })
                                            <div>
                                                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rua/Av...., número", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                                            </div>        
                                        </div>
                                        <div class="form-row">
                                             <div class="form-group col-md-7">
                                                @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "label" })
                                                <div>
                                                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cidade", @type = "text" } })
                                                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                                                </div>
                                        </div>
                                            <div class="form-group col-md-4 offset-md-1">
                                                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "label" })
                                                    <div>
                                                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", @placeholder = "UF", @type = "text", @maxlength = "2" } })
                                                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4 offset-md-4">
                                            @Html.LabelFor(model => model.Situacao,"Situação de Atividade", htmlAttributes: new { @class = "center" })
                                            <div>
                                                @Html.EditorFor(model => model.Situacao, new { htmlAttributes = new { @class = "form-control text-center", @placeholder = "Sim/Não", @type = "text", @maxlength = "3" } })
                                                @Html.ValidationMessageFor(model => model.Situacao, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br>
                                        <p class="text-center">Todos os dados estão corretos?</p>
                                        <div class="form-group d-flex justify-content-end mt-4">
                                            <button type="button" onclick="CriarCadastroCliente()" class="btn btn-primary"><span class="fa fa-paper-plane"></span> </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

