@model Orenda.Models.Produtos

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Edição do Produto</h2>
                </div>
            </div>
        </div>
        <div class="row column1">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Produtos</h2>
                        </div>
                    </div>
                    <section class="ftco-section ftco-no-pb ftco-no-pt">
                        <div class="row">
                            <div class="col-md-12 order-md-last">
                                <div class="login-wrap p-4 p-md-5">
                                    <h3 class="mb-4">Edite os dados necessários do Produto</h3>
                                    <form action="#" class="signup-form">
                                        <div class="form-group">
                                             <input type="hidden" value="@Model.CodProd" id="CodProd" name="CodProd" />
                                                   @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div>
                                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome do Produto" } })
                                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div>
                                                    @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control", @placeholder = "Unidade Qtd/Kg", @type = "number" } })
                                                    @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 offset-md-2">                                            
                                                @Html.LabelFor(model => model.Validade, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div>
                                                    @Html.EditorFor(model => model.Validade, "{0:yyyy/MM/dd}", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                                    @Html.ValidationMessageFor(model => model.Validade, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                @Html.LabelFor(model => model.Preco, "Preço R$:", htmlAttributes: new { @class = "label" })
                                                <div>
                                                    @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control", @type = "any", @placeholder = "10000,00", @onkeypress = "mascaraDinheiro(this,mreais)" } })
                                                    @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5 offset-md-2">
                                                @Html.LabelFor(model => model.Tempo, "Tempo de Produção",htmlAttributes: new { @class = "label" })
                                                <div>
                                                    @Html.EditorFor(model => model.Tempo, new { htmlAttributes = new { @class = "form-control", @type ="time" } })
                                                    @Html.ValidationMessageFor(model => model.Tempo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div><br>
                                        <p class="text-center">Todos os dados estão corretos?</p>
                                        <div class="form-group d-flex justify-content-end mt-4">
                                            <button type="button"  onclick="CriarCadastroProduto()"class="btn btn-primary"><span class="fa fa-paper-plane"></span></button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
